<section class="inventory card">
    <div><h2>{{year}} {{make}} {{model}}</h2></div>
    <div><img src="{{image}}" alg="{{image}}"></div>
    <div>{{category}}</div>
    <div>VIN {{inventory.[0].vin}}</div>
    <div>Mileage {{mileage}}</div>
    <div>Info: {{description}}</div>
    <div>Engine {{engine}}</div>
    <div>Transmission {{transmission}}</div>
    <div>Drive Train {{driveTrain}}</div>
    <div>Exterior Color {{exteriorColor}}</div>
    <div>Interior Color {{interiorColor}}</div>
    <div>Doors {{doors}}</div>
    <div>MPG c:{{mpgCity}}  h:{{mpgHighway}}</div>
    <div>Posted by: {{name}}</div>
    <div>Price: {{price}}</div>
</section>