<a href="/inventory/{{id}}">
        <div class="product-container">
            <img src="{{image}}" alt="Product Image" class="product-image">
            <div class="product-details">
              <div class="product-title">{{year}} {{make}} {{model}}</div>
              <div class="product-price">${{price}}</div>
              <div class="miles">Miles: {{mileage}}</div>
              <div class="product-description">
                {{description}}
              </div>
            </div>
          </div>
    </a>

